.container{
    display: grid;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../assets/AdobeStock_398944209.jpeg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 100%;
}

.loginDiv{
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    display: flex;
    position: relative;
}

.logo{
    font-family: 'logoFont';
    color: white;
    font-size: 50pt; 
    margin:0;
}

.slogan{
    color:white;
    animation: sloganAnimation 1s alternate-reverse  infinite  ease-in-out;
}

.input{
    display: grid;
    gap: 3px;
    width: 200px;
    height: 80px;
}

.input input{
    font-size: 15px;
}

.input input:focus{
    outline: 1px solid lightblue;
}

.input button{
    background-color: aliceblue;
    border : none;
}

.input button:hover{
    background-color: rgb(52, 56, 56);
}

.signUp{
    margin-top : 10px;
    color: white;
    font-size: 14px;
}

.signUp:hover{
    font-weight: bold;
}

@keyframes sloganAnimation{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}