.contents {
  margin: auto;
  margin-top: 80px;
  max-width: 800px;
  padding: 50px 0 30px 0;
}

.title_area {
  text-align: center;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 20px;
}

.body_area {
  padding: 1rem;
  line-height: 1.7rem;
}

.buttons {
  padding: 10px;
  font-size: 17px;
  float: right;
  background-color: white;
  border: none;
  cursor: pointer;
}

.buttons:hover{
  font-weight: bold;
}
