  
.nav{ 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-bottom : 50px;
  margin-top : 10px;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.button:hover{
  background-color: rgba(0, 0, 0,50%);
  color: white;
}

