html,body{
  margin:0;
  padding: 0;
}

#wrapper{
  min-height: 100vh;
  height: auto;
  min-width: 100%;
}

@font-face {
  font-family: "logoFont";
  src: url("./assets/DancingScript-SemiBold.ttf") format("truetype");
}
